* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Barlow Semi Condensed", sans-serif;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

*::selection {
  background-color: bisque;
}

.card-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-cild-block {
  display: flex;
  margin-top: 2%;
  flex-direction: column;
}

/* ! */

.profile-block {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.blur {
  display: flex;
  background-color: rgba(176, 176, 176, 0.462);
  backdrop-filter: blur(8px);
  justify-content: center;
  width: 25%;
  margin-left: 38%;
  margin-top: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 25px;
}
.profile-pic {
  margin-bottom: 15%;
}
.pic {
  border-radius: 50%;
  width: 60%;
}
.a {
  text-decoration: none;
}
.profile-info {
  display: flex;
  flex-direction: column;
}
.btn-viev {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 37%;
}
.btn-vuvu {
  margin-top: 2%;
  width: 40%;
}
#basic-button {
  display: flex;
  justify-content: start;
  margin-top: 1%;
  margin-left: 1%;
}
.span-avatar {
  margin-left: 1%;
}
.avatar-block {
  display: flex;
}
